// Globals
$body-font-family: 'Muli', sans-serif;
$border-radius-root: 6px;
$font-size-root: 16px;

@import '~vuetify/src/styles/styles.sass';

// You need to map-merge your new SASS variables
$grid-breakpoints: map-merge($container-max-widths, (
  md: map-get($grid-breakpoints, 'md') * 0.9375,
  lg: map-get($grid-breakpoints, 'lg') * 0.9375,
  xl: 1280
))